*{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 600;
    font-variant: small-caps;
}   

body{
    background-color: rgb(233, 232, 174);
}

#caja1{
    border: 1px solid black; 
}

#caja2{
    margin: 10px 20px 30px 50px;
    /*top right bottom left*/
    border: solid red;
    border-width: 1px 10px 30px 50px;
}

ul{
    border: 1px solid black;
    padding: 10px 150px 10px 50px;
    display:inline;
}

li{
    border: 1px solid black;
    padding: 3px;
    display: inline;
    margin-left: 100px;
}
