
.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.presentacion{
    height: 400px;
    background-image: url(/proyecto-final/images/amigos.jpg);
    background-size: cover;
    background-position: center;
}

#titupresentacion{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px grey, 0 0 5px black;
}

.sections{
    margin: 10px 0 10px 0;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow: auto;
    white-space: nowrap;
    background: transparent;
    height: 100%;
}

.sections1{
    display: flexbox;  
    justify-content: space-around;
}

h2{
    color: white;
}

main{
    background-color: #202126;
}

#categorias{
    padding: 50px;
    justify-content: space-around;
    background-color: #202126;
}

#populares{
    padding: 50px;
    background-color: #202126;
}

#nuevas{
    padding: 50px;
}


/* div{
    border: 1px solid black;
} */

